@model SendMessageModel
@{
  ViewData["Title"] = "Home Page";
}

<div style="">
  <h3>Send a page to @ViewData["groupName"]</h3>
  <form method="post" style="display:flex; flex-direction:column" onsubmit="document.getElementById('sendButton').disabled = true;">
    <div class="form-group">
      @if ((string)ViewData["disarmed"] == true.ToString())
      {
        <p class="alert alert-info">System is disarmed</p>
      }
      <div asp-validation-summary="All"></div>
      <label asp-for="Message">Message</label>
      <textarea asp-for="Message" class="form-control" rows="3"></textarea>
      <span asp-validation-for="Message" ></span>
    </div>
    <button id="sendButton" type="submit" style="align-self: flex-end" class="btn btn-primary">Send</button>
  </form>
</div>
