@model SuccessModel

<div>
  <h3>Send a page to ESAR</h3>
  <div class="alert alert-success" role="alert">
    <p><strong>Sent message at @Model.When:</strong></p>
    <p>@Model.Message</p>
  </div>
  <a href="/">Send another</a>
</div>